{% extends "layout.html"%}

{% block content %}

<p>La primera versión de esta WebApp ha sido publicada el 03-03-2021.
  Actualmente, existen diversos problemas a resolver, que serán abordados en versiones posteriores.
  Por ahora, esta aplicación se centra en procesar un archivo de acuerdo a los parametros que disponga un cliente
  y ofrece como output, dicho archivo clasificado según sus tópicos dominantes.
  
  La versión beta ha sido publicada el 11-03-2022. 
  Cambios mayores agregados, principalmente para que la WebApp funcione a través de Docker, de manera que 
  pueda ser utilizada indistintamente. 
</p>


<p>Versión Alfa 03-03-2021</p>
<p>Versión Beta 11-03-2022</p>
<p>contacto: fvillasecav@ug.uchile.cl</p>




{% endblock %}