{% extends "layout.html"%}

{% block content %}
<p>La primera versión de esta WebApp ha sido publicada el 03-03-2021.
  Actualmente, existen diversos problemas a resolver, que serán abordados en versiones posteriores.
  Por ahora, esta aplicación se centra en procesar un archivo de acuerdo a los parametros que disponga un cliente
  y ofrece como output, dicho archivo clasificado según sus tópicos dominantes. 
</p>


<p>Versión Alfa 03-03-2021</p>
<p>contacto: fvillasecav@ug.uchile.cl</p>




{% endblock %}